<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Infecções bacterianas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <h3>5.1 Sífilis</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/45.png" alt="Imagem de Sífilis">

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>5.1.1 Sífilis Primária (Cancro)</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/46.png" alt="Imagem de Sífilis Primária (Cancro)">
        <figcaption>Figura 42 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro:
          Elsevier,2016</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/47.png" alt="Imagem de Sífilis Primária (Cancro)">
        <figcaption>Figura 43 Siqueira, C S. Diagnóstico de sífilis em lesões orais: estudo comparativo utilizando-se as
          técnicas histoquímica e imuno-histoquímica. Tese ( Doutorado em Odontologia) - Faculdade de Odontologia da
          Universidade de São Paulo. São Paulo, p 72. 2012
        </figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/48.png" alt="Imagem de Sífilis Primária (Cancro)">
        <figcaption>Figura 44 Porterfield, C. et al. (2020). Primary syphilis presenting as a chronic lip ulcer. Cureus,
          12(2), e7086. 10.7759/cureus.7086.
        </figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Superfície epitelial ulcerada.
              </li>
              <li class="background-color-indicator-green">
                Exocitose acentuada no epitélio.
              </li>
              <li class="background-color-indicator-yellow">
                Infiltrado inflamatório crônico composto predominantemente de linfócitos e plasmócitos.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>5.1.2 Sífilis Secundária</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/49.png" alt="Imagem de Sífilis Secundária">
        <figcaption>Figura 28 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/50.png" alt="Imagem de Sífilis Secundária">
        <figcaption>Figura 45 (A e B) NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro:
          Elsevier, 2016</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Superfície epitelial ulcerada ou hiperplásica.
              </li>
              <li class="background-color-indicator-green">
                Exocitose acentuada no epitélio.
              </li>
              <li class="background-color-indicator-yellow">
                Infiltrado inflamatório crônico composto predominantemente de linfócitos e plasmócitos.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 5.1 -->

    <!-- INICIO 5.2 -->

    <ion-row>
      <ion-col>
        <h3>5.2 Tuberculose</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/51.png" alt="Imagem de Tuberculose">
        <figcaption>Figura 46 Regezi JA, Sciubba JJ, Jordan RCK. Patologia Oral: Correlações Clinicopatológicas. 6 ed.
          Rio de Janeiro, RJ: Elsevier, 2012</figcaption>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/53.png" alt="Imagem de Tuberculose">
        <figcaption>Figura 48 COIMBRA, Emerson Lucas da Silva; ANDRADE, Bruno Augusto Benevenuto de; ROCHA, Monica Lage
          da. Úlcera lingual como manifestação de tuberculose sistêmica: relato de caso. Revista de Medicina da UFC,
          Fortaleza, v. 61, n. 1, p. 1-6, 2021.</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Formação de granulomas: coleções circunscritas de histiócitos epitelióides, linfócitos e células
                gigantes multinucleadas.
              </li>
              <li class="background-color-indicator-green">
                Células gigantes de Langhans: núcleo arranjado ao longo da periferia das células em uma aparência de
                ferradura ou em anel.
              </li>

            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 5.2 -->

    <!-- INICIO 5.3 -->

    <ion-row>
      <ion-col>
        <h3>5.3 Actinomicose</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/54.png" alt="Imagem de Actinomicose">
        <figcaption>Figura 49 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/55.png" alt="Imagem de Actinomicose">
        <figcaption>Figura 50 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/56.png" alt="Imagem de Actinomicose">
        <figcaption>Figura 51 Regezi JA, Sciubba JJ, Jordan RCK. Patologia Oral: Correlações Clinicopatológicas. 6 ed.
          Rio de Janeiro, RJ: Elsevier, 2012</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Faixa fibrosa periférica envolvendo uma zona composta por tecido de granulação apresentando infiltrado
                inflamatório crônico, circundando grandes coleções de polimorfonucleares e, eventualmente, colônias de
                microrganismos.
              </li>
              <li class="background-color-indicator-green">
                As colônias consistem em filamentos em forma de clava que formam um padrão de roseta radiada.
              </li>

            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>