<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Doenças da polpa e periápice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="ion-margin-end" (click)="sobeParaInicioDaPagina()">
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid class="ion-text-center">

    <ion-row>
      <ion-col>
        <h3>2.1 Pólipo pulpar</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/09.png" alt="Imagem de Pólipo pulpar">
        <figcaption>Figura 8 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/10.png" alt="Imagem de Pólipo pulpar">
        <figcaption>Figura 9 Moura CCG, et al. pulpite crônica hiperplásica: análise histológica ao microscópio de luz e
          microscópio eletrônico de transmissão.Revista Odonto Ciência – Fac. Odonto/PUCRS, v. 21, n. 54, out./dez. 2006
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Características</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Tampão de tecido de granulação
              </li>
              <li class="background-color-indicator-green">
                A superfície do pólipo pode ou não ser coberta com epitélio escamoso estratificado
              </li>
              <li class="background-color-indicator-yellow">
                Tecido pulpar mais profundo demonstra fibrose e um infiltrado inflamatório crônico
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 2.1 -->

    <!-- INICIO 2.2 -->
    <ion-row>
      <ion-col>
        <h3>2.2 Granuloma periapical</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/11.png" alt="Imagem de Granuloma periapical">
        <figcaption>Figura 10 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/12.png" alt="Imagem de Granuloma periapical">
        <figcaption>
          Disponível em: <a href="https://ead.ict.unesp.br/lamivir/6876/index.htm">https://ead.ict.unesp.br/lamivir/6876/index.htm</a>. Acesso em: 09, maio e 2022.
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/13.png" alt="Imagem de Granuloma periapical">
        <figcaption>Figura 11 Morrison A. Periapical (dental) granuloma. PathologyOutlines.com website.
          https://www.pathologyoutlines.com/topic/mandiblemaxilladentalgranuloma.html. Accessed March 8th, 2022.
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/14.png" alt="Imagem de Granuloma periapical">
        <figcaption>Figura 12 Morrison A. Periapical (dental) granuloma. PathologyOutlines.com website.
          https://www.pathologyoutlines.com/topic/mandiblemaxilladentalgranuloma.html. Accessed March 8th, 2022
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/15.png" alt="Imagem de Granuloma periapical">
        <figcaption>Figura 13 Morrison A. Periapical (dental) granuloma. PathologyOutlines.com website.
          https://www.pathologyoutlines.com/topic/mandiblemaxilladentalgranuloma.html. Accessed March 8th, 2022
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Tecido de granulação inflamado, circundado por uma parede de tecido fibroso.
              </li>
              <li class="background-color-indicator-green">
                Tecido de granulação demonstra um infiltrado inflamatório misto com presença de linfócitos, plasmócitos
                e histiócitos.
              </li>
              <li class="background-color-indicator-yellow">
                Podem estar presentes cristais de colesterol, células gigantes multinucleadas e corpúsculos de Russel.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 2.2 -->

    <!-- INICIO 2.3 -->

    <ion-row>
      <ion-col>
        <h3>2.3 Cisto periapical</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/16.png" alt="Imagem de Cisto periapical">
        <figcaption>Figura 14 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/17.png" alt="Imagem de Cisto periapical">
        <figcaption>Figura 15 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/18.png" alt="Imagem de Cisto periapical">
        <figcaption>Figura 16 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/19.png" alt="Imagem de Cisto periapical">
        <figcaption>
          Disponível em: <a href="https://ead.ict.unesp.br/lamivir/pb_35/index.htm">https://ead.ict.unesp.br/lamivir/pb_35/index.htm</a>. Acesso em: 09, maio e 2022.
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/20.png" alt="Imagem de Cisto periapical">
        <figcaption>Figura 17 (A e B) NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro:
          Elsevier, 2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Revestido por epitélio escamoso estratificado com presença de células mucosas dispersas ou epitélio
                colunar pseudoestratificado ciliado.
              </li>
              <li class="background-color-indicator-green">
                Presença de infiltrado inflamatório crônico na parede de tecido conjuntivo.
              </li>
              <li class="background-color-indicator-yellow">
                Presença de calcificações distróficas, cristais de colesterol com células gigantes multinucleadas e
                áreas de pigmentação com hemossiderina no lúmen na parede e lúmem.
              </li>
              <li class="background-color-indicator-violet">
                Presença de corpúsculos de Rushton e corpos hialinos circundando linfócitos, plasmócitos e células
                gigantes multinucleadas.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 2.3 -->

    <!-- INICIO 2.4 -->

    <ion-row>
      <ion-col>
        <h3>2.4 Osteomielite com Periostite Proliferativa</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/21.png" alt="Imagem de Osteomielite com Periostite Proliferativa">
        <figcaption>Figura 18 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/22.png" alt="Imagem de Osteomielite com Periostite Proliferativa">
        <figcaption>Figura 19 Regezi JA, Sciubba JJ, Jordan RCK. Patologia Oral: Correlações Clinicopatológicas. 6 ed.
          Rio de Janeiro, RJ: Elsevier, 2012</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/23.png" alt="Imagem de Osteomielite com Periostite Proliferativa">
        <figcaption>Figura 20 Liu, D.et al. Chronic osteomyelitis with proliferative periostitis of the mandibular body:
          report of a case and review of the literature. Ann R Coll Surg Engl,(2019); 101(5), 328-332.
          https://doi.org/10.1308/rcsann.2019.0021</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Fileiras paralelas de tecido ósseo altamente celular e reativo com trabéculas individuais orientadas
                perpendicularmente a superfície.
              </li>
              <li class="background-color-indicator-green">
                Tecido conjuntivo fibroso relativamente desinflamado entre as trabéculas.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 2.4 -->

    <!-- INICIO 2.5 -->

    <ion-row>
      <ion-col>
        <h3>2.5 Osteomielite Supurativa Aguda</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/24.png" alt="Imagem de Osteomielite Supurativa Aguda">
        <figcaption>Figura 21 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/25.png" alt="Imagem de Osteomielite Supurativa Aguda">
        <figcaption>Figura 22 R. E. Marx, R. Tursun: Suppurative osteomyelitis, bisphosphonate induced osteonecrosis,
          osteoradionecrosis: a blinded histopathologic comparison and its implications for the mechanism of each
          disease. Int. J. Oral Maxillofac. Surg. 2012; 41: 283–289.</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/26.png" alt="Imagem de Osteomielite Supurativa Aguda">
        <figcaption>Figura 23 R. E. Marx, R. Tursun: Suppurative osteomyelitis, bisphosphonate induced osteonecrosis,
          osteoradionecrosis: a blinded histopathologic comparison and its implications for the mechanism of each
          disease. Int. J. Oral Maxillofac. Surg. 2012; 41: 283–289.</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Perda de osteócitos de suas lacunas.
              </li>
              <li class="background-color-indicator-green">
                Infiltrado inflamatório agudo consistindo e leucócitos polimorfonucleares.
              </li>
              <li class="background-color-indicator-yellow">
                Regiões de sequestro ósseo.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 2.5 -->

    <!-- INICIO 2.6 -->

    <ion-row>
      <ion-col>
        <h3>2.6 Osteomielite Supurativa crônica</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/27.png" alt="Osteomielite Supurativa crônica">
        <figcaption>Figura 24 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Tecido conjuntivo fibroso inflamado crônico preenchendo áreas intertrabeculares.
              </li>
              <li class="background-color-indicator-green">
                Sequestros ósseos.
              </li>
              <li class="background-color-indicator-yellow">
                Bolsas de formação de abcessos.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>