<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lesões reativas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <h3>7.1 Fibroma traumático</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/67.png" alt="Imagem de Fibroma traumático">
        <figcaption>Figura 61 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/68.png" alt="Imagem de Fibroma traumático">
        <figcaption>Figura 62 Carvalho CO, et al. Fibroma traumático:Relato de caso. RGS.2019;21(2):38-46.</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/69.png" alt="Imagem de Fibroma traumático">
        <figcaption>
          Figura 63 Smith MH. Irritation fibroma. PathologyOutlines.com website. https://www.pathologyoutlines.com/topic/oralcavityirritationfibroma.html. Accessed April 4th, 2022.
        </figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/70.png" alt="Imagem de Fibroma traumático">
        <figcaption>
          Figura 64 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016
        </figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Proliferação de tecido conjuntivo fibroso, recoberto por epitélio pavimentoso estratificado.
              </li>
              <li class="background-color-indicator-green">
                Pode apresentar superfície com hiperqueratose secundária a trauma.
              </li>
              <li class="background-color-indicator-yellow">
                Pode apresentar inflamação difusa abaixo da superfície epitelial, geralmente crônica com presença de linfócitos e plasmócitos.
              </li>
              <li>
                O tecido conjuntivo denso e colagenizado, podendo também ter natureza frouxa. 
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 7.1 -->

    <!-- INICIO 7.2 -->

    <ion-row>
      <ion-col>
        <h3>6.2 HPV</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>6.2.1 Hiperplasia fibrosa inflamatória</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/72.png" alt="Imagem de Hiperplasia fibrosa inflamatória">
        <figcaption>Figura 66 FALCÃO, A. et al. Hiperplasia Fibrosa Inflamatória: relato de caso e revisão de literatura. R. Ci. Méd. Biol., Salvador, v. 8, n. 2, maio/ago. 2009</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Hiperplasia do tecido conjuntivo fibroso.
              </li>
              <li class="background-color-indicator-green">
                Epitélio de revestimento hiperparaqueratinizado.
              </li>
              <li class="background-color-indicator-yellow">
                Hiperplasia irregular das cristas epiteliais.
              </li>
              <li class="background-color-indicator-violet">
                O epitélio exibe hiperplasia papilomatosa inflamatória.
              </li>
              <li class="background-color-indicator-magent">
                Presença de infiltrado inflamatório crônico variável 
              </li>
              <li>
                Em raras situações, observa-se a formação de tecido osteóide ou condroide
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 7.2 -->

    <!-- INICIO 7.3 -->

    <ion-row>
      <ion-col>
        <h3>7.3 Granuloma piogênico</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/73.png" alt="Imagem de Granuloma piogênico">
        <figcaption>
          Figura 67 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016
        </figcaption>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/74.png" alt="Imagem de Granuloma piogênico">
        <figcaption>Figura 68 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Proliferação altamente vascular semelhante ao tecido de granulação.
              </li>
              <li class="background-color-indicator-green">
                Superfície ulcerada e substituída por uma espessa membrana fibrinopurulenta.
              </li>
              <li class="background-color-indicator-yellow">
                Presença de infiltrado inflamatório misto de neutrófilos, plasmócitos e linfócitos.
              </li>
              <li>
                Lesões antigas podem ter áreas com aparência mais fibrosa.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 7.3 -->

    <!-- INICIO 7.4 -->

    <ion-row>
      <ion-col>
        <h3>7.4 Lesão periférica de células gigantes</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/75.png" alt="Imagem de Lesão periférica de células gigantes">
        <figcaption>
          Figura 69 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016
        </figcaption>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/76.png" alt="Imagem de Lesão periférica de células gigantes">
        <figcaption>Figura 70 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/77.png" alt="Imagem de Lesão periférica de células gigantes">
        <figcaption>Figura 71 Thakral C. Peripheral giant cell granuloma. PathologyOutlines.com website. https://www.pathologyoutlines.com/topic/oralcavityperipheralgiantcellgranuloma.html. Accessed April 5th, 2022.</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Proliferação de células gigantes multinucleadas, permeadas por células mesenquimais volumosas ovoides e fusiformes.
              </li>
              <li class="background-color-indicator-green">
                Geralmente, uma zona de tecido conjuntivo denso separa a proliferação de células gigantes da superfície da mucosa. 
              </li>
              <li class="background-color-indicator-yellow">
                Pode apresentar células inflamatórias agudas e crônicas.
              </li>
              <li>
                Pode apresentar hemorragia e depósito de pigmento de hemossiderina.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 7.4 -->

    <!-- INICIO 7.5 -->

    <ion-row>
      <ion-col>
        <h3>7.5	Fibroma ossificante periférico</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/78.png" alt="Imagem de Fibroma ossificante periférico">

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/79.png" alt="Imagem de Fibroma ossificante periférico">
        <figcaption>Figura 72 (A e B) NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/80.png" alt="Imagem de Fibroma ossificante periférico">
        <figcaption>Figura 73 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Proliferação de fibroblastos associada à formação de material mineralizado, este podendo ser osso, material cementoide ou calcificações distróficas.
              </li>
              <li class="background-color-indicator-green">
                Pode apresentar epitélio ulcerado coberto por membrana fibrinopurulenta e zona de tecido de granulação subjacente. 
              </li>
              <li class="background-color-indicator-yellow">
                Células gigantes multinucleadas podem ser encontradas em associação ao material mineralizado.
              </li>
              
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 7.5 -->

    <!-- INICIO 7.6 -->

    <ion-row>
      <ion-col>
        <h3>7.6	Neuroma traumático</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/81.png" alt="Imagem de 7.6 Neuroma traumático">
        <figcaption>
          Figura 74 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016
        </figcaption>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/82.png" alt="Imagem de 7.6 Neuroma traumático">
        <figcaption>Figura 75 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Proliferação aleatória de feixes nervosos maduros, mielinizados e não mielinizados, dentro de um estroma de tecido conjuntivo, que pode ser densamente colagenizado a mixomatoso.
              </li>
              <li>
                Um infiltrado inflamatório crônico associado pode estar presente. 
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>


</ion-content>