<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Infecções fúngicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="ion-margin-end" (click)="sobeParaInicioDaPagina()">
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid class="ion-text-center">

    <ion-row>
      <ion-col>
        <h3>4.1 Candidíase</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/33.png" alt="Imagem de Candidíase">
        <figcaption>Figura 30 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/34.png" alt="Imagem de Candidíase">
        <figcaption>Figura 31 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/35.png" alt="Imagem de Candidíase">
        <figcaption>Figura 32 (A e B) PINA, P. Caracterização clínico-patológica e aspectos diagnósticos da candidíase
          crônica hiperplásica. Dissertação (Mestrado) -- Programa de Pós-Graduação em Ciências Odontológicas. Faculdade
          de Odontologia da Universidade de São Paulo. São Paulo, 2018.</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Características</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Maior espessura da camada paraqueratinizada.
              </li>
              <li class="background-color-indicator-green">
                Alongamento das cristas epiteliais.
              </li>
              <li class="background-color-indicator-yellow">
                Pode-se observar infiltrado inflamatório crônico subjacente ao tecido infectado composto de pequenas
                coleções de neutrófilos (microabscessos) nas camadas espinhosa e de paraqueratina. Células inflamatórias
                também são vistas no tecido conjuntivo subjacente.
              </li>
              <li class="background-color-indicator-violet">
                As hifas em geral são encontradas na camada de paraqueratina, raramente penetrando nas camadas abaixo do
                epitélio.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 4.1 -->

    <!-- INICIO 4.2 -->

    <ion-row>
      <ion-col>
        <h3>4.2 Paracoccidioidomicose</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/36.png" alt="Imagem de Paracoccidioidomicose">
        <figcaption>Figura 33 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/37.png" alt="Imagem de Paracoccidioidomicose">
        <figcaption>Figura 34 (A B C e D) Silva, M A A. Inter-relação de aspéctos clínicos, histomorfométricos e
          imunoistoquímicos na paracoccidiodomicose oral. Dissertação (Mestrado) -- PUCRS. Faculdade de Odontologia.
          Programa de Pós-Graduação em Odontologia. Porto Alegre, 2012.</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/38.png" alt="Imagem de Paracoccidioidomicose">
        <figcaption>Figura 35 (A e B) Silva, M A A. Inter-relação de aspéctos clínicos, histomorfométricos e
          imunoistoquímicos na paracoccidiodomicose oral. Dissertação (Mestrado) -- PUCRS. Faculdade de Odontologia.
          Programa de Pós-Graduação em Odontologia. Porto Alegre, 2012.</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/39.png" alt="Imagem de Paracoccidioidomicose">
        <figcaption>Figura 36 ( A, B, C e D ) Azevedo, Rebeca & Gouvêa, Adriele & Lopes, Márcio & Correa, Marcelo &
          Jorge, Jacks. (2011). Synchronous oral paracoccidioidomycosis and oral squamous cell carcinoma with
          submandibular enlargement. Medical mycology : official publication</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Hiperplasia pseudoepiteliomatosa (pseudocarcinomatosa).
              </li>
              <li class="background-color-indicator-green">
                Ulceração do epitélio sobrejacente.
              </li>
              <li class="background-color-indicator-yellow">
                Leveduras em formato de orelha de Mickey ou timão de navio.
              </li>
              <li class="background-color-indicator-violet">
                Resposta inflamatória granulomatosa (acúmulo de macrófagos epitelioide e células gigantes
                multinucleadas).
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 4.2 -->

    <!-- INICIO 4.3 -->

    <ion-row>
      <ion-col>
        <h3>4.3 Histoplasmose</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/40.png" alt="Imagem de Histoplasmose">
        <figcaption>Figura 37 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/41.png" alt="Imagem de Histoplasmose">
        <figcaption>Figura 38 Drak Alsibai K, Couppié P, Blanchet D, et al. Cytological and Histopathological Spectrum
          of Histoplasmosis: 15 Years of Experience in French Guiana. Front Cell Infect Microbiol. 2020;10:591974.
          Published 2020 Oct 29. doi:10.3389/fcimb.2020.591974</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/42.png" alt="Imagem de Histoplasmose">
        <figcaption>Figura 39 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Acumulo de macrófagos organizados em granulomas.
              </li>
              <li class="background-color-indicator-green">
                Presença de celulas gigantes multinucleadas.
              </li>
              <li class="background-color-indicator-yellow">
                É possível observar a levedura dentro de alguns macrófagos.
              </li>
              <li class="background-color-indicator-violet">
                Exames com coloração especial também são usados para identificação da levedura.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 4.3 -->

    <!-- INICIO 4.4 -->

    <ion-row>
      <ion-col>
        <h3>4.4 Blastomicose</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/44.png" alt="Imagem de Blastomicose">
        <figcaption>Figura 41 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Mistura de inflamação aguda e granulomatosa circundando uma ou mais leveduras.
              </li>
              <li class="background-color-indicator-green">
                Leveduras com parede celular duplamente refratária.
              </li>
              <li class="background-color-indicator-yellow">
                A infecção pode induzir hiperplasia pseudoepiteliomatosa (pseudocarcinomatosa).
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>