<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lesões pigmentadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">

    <ion-row>
      <ion-col>
        <h3>8.1 Mácula melanótica</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/83.png" alt="Imagem de Mácula melanótica">
        <figcaption>Figura 76 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/84.png" alt="Imagem de Mácula melanótica">
        <figcaption>Figura 77 Suzuki HS, Souza TBC, Werner B: Lingual melanotic macule - the first case report in an
          adult patient. An Bras Dermatol. 2018, 93:310-311. 10.1590/abd1806-4841.20187336</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Acúmulo de melanina (e talvez aumento no número de melanócitos) nas camadas basal e parabasal do
                epitélio pavimentoso estratificado.
              </li>
              <li class="background-color-indicator-green">
                Melanina também pode ser vista livre ou dentro dos melanófagos do tecido conjuntivo subepitelial
                (incontinência melânica).
              </li>
            </ul>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <!-- FIM 8.1 -->

    <!-- INICIO 8.2 -->

    <ion-row>
      <ion-col>
        <h3>8.2 Nevo melanocítico</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>8.2.1 Nevo melanocítico juncional</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/85.png" alt="Imagem de Nevo melanocítico juncional">
        <figcaption>Figura 78 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Tecas de células névicas confinadas à junção do epitélio e tecido conjuntivo (camada basal). Conforme as
                células névicas proliferam, elas começam a aparecer na derme ou na lâmina própria.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>8.2.2 Nevo melanocítico composto</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/86.png" alt="Imagem de Nevo melanocítico composto">
        <figcaption>
          Figura 79 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Apresenta células névicas presentes ao longo da área juncional e no tecido conjuntivo.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>8.2.3 Nevo melanocítico intramucoso</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/87.png" alt="Imagem de Nevo melanocítico intramucoso">
        <figcaption>
          Figura 80 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016
        </figcaption>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Células névicas apenas no tecido conjuntivo.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 8.2 -->

    <!-- INICIO 8.3 -->

    <ion-row>
      <ion-col>
        <h3>8.3 Melanoacantoma oral</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/88.png" alt="Imagem de Melanoacantoma oral">
        <figcaption>
          Figura 81 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016
        </figcaption>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/89.png" alt="Imagem de Melanoacantoma oral">
        <figcaption>Figura 82 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro:
          Elsevier, 2016</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/90.png" alt="Imagem de Melanoacantoma oral">
        <figcaption>Figura 83 Contreras E, Carlos R. Melanoacantosis oral (melanoacantoma): reporte de un caso y
          revision de literatura. Med Oral Patol Oral Cir Bucal</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Melanócitos espalhados por todo o epitélio lesional.
              </li>
              <li class="background-color-indicator-green">
                Melanócitos também estão presentes na camada basal em número aumentado.
              </li>
              <li class="background-color-indicator-yellow">
                Espongiose e acantose em geral são evidentes.
              </li>
              <li class="background-color-indicator-violet">
                Tecido conjuntivo subjacente contém discreto a moderado infiltrado inflamatório crônico que pode
                incluir eosinófilos.
              </li>

            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- FIM 8.3 -->
  </ion-grid>


</ion-content>