<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Neoplasias benignas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="ion-margin-end" (click)="sobeParaInicioDaPagina()">
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid class="ion-text-center">

    <ion-row>
      <ion-col>
        <h3>9.1 Lipoma</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/90.png" alt="Imagem de Lipoma">
        <figcaption>
          Figura 84 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/91.png" alt="Imagem de Lipoma">
        <figcaption>
          Figura 85 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Composto por adipócitos maduros semelhantes ao tecido adiposo normal
                circunjacente.
              </li>
              <li class="background-color-indicator-green">
                Pode apresentar uma fina cápsula fibrosa.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 9.1 -->

    <!-- INICIO 9.2 -->

    <ion-row>
      <ion-col>
        <h3>9.2 Hemangioma</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/93.png" alt="Imagem de Hemangioma">
        <figcaption>
          Figura 86 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/94.png" alt="Imagem de Hemangioma">
        <figcaption>
          Figura 87 REZENDE, K M P C , et al. Hemangioma: descrição de um caso clínico e sua importância no diagnóstico
          diferencial. REV ASSOC PAUL CIR DENT 2016;70(1):20-3.
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                São caracterizados por numerosas células endoteliais formando lúmens
                vasculares sem suporte muscular
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 9.2 -->

    <!-- INICIO 9.3 -->

    <ion-row>
      <ion-col>
        <h3>9.3 Linfangioma</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/95.png" alt="Imagem de Linfangioma">
        <figcaption>
          Figura 88 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/96.png" alt="Imagem de Linfangioma">
        <figcaption>
          Figura 89 Sunil, S., Gopakumar, D., & Sreenivasan, B. S. (2012). Oral lymphangioma - Case reports and review
          of
          literature. Contemporary clinical dentistry, 3(1), 116–118. https://doi.org/10.4103/0976-237X.94561
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Composto de diversos vasos linfáticos dilatados (Cavernosos) ou
                semelhantes à cistos (Higroma cístico).
              </li>
              <li class="background-color-indicator-green">
                Fino endotélio delimitante com linfa, linfócitos ou hemácias no interior.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 9.3 -->

    <!-- INICIO 9.4 -->

    <ion-row>
      <ion-col>
        <h3>9.4 Leiomioma</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/97.png" alt="Imagem de Leiomioma">
        <figcaption>
          Figura 90 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/98.png" alt="Imagem de Leiomioma">
        <figcaption>
          Figura 91 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016
        </figcaption>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Presença de feixes entrelaçados de células musculares fusiformes. Os
                núcleos são alongados, palidamente corados e com terminação romba.
              </li>
              <li class="background-color-indicator-green">
                Colorações especiais (Tricrômico de Masson) e análise imunohistoquímica podem auxiliar no diagnóstico.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 9.4 -->

    <!-- INICIO 9.5 -->

    <ion-row>
      <ion-col>
        <h3>9.5 Rabdomioma</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/99.png" alt="Imagem de Rabdomioma">
        <figcaption>
          Figura 92 Shankar V. Adult type rhabdomyoma. PathologyOutlines.com website.
          https://www.pathologyoutlines.com/topic/softtissueadultrhabdomyoma.html. Accessed May 3rd, 2022.
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/100.png" alt="Imagem de Rabdomioma">
        <figcaption>
          Figura 93 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Lóbulos com células poligonais de citoplasma eosinófilo
              </li>
              <li class="background-color-indicator-green">
                Geralmente demonstra vacuolização periférica
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 9.5 -->

    <!-- INICIO 9.6 -->

    <ion-row>
      <ion-col>
        <h3>9.6 Neurofibroma</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/101.png" alt="Imagem de Neurofibroma">
        <figcaption>
          Figura 94 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/102.png" alt="Imagem de Neurofibroma">
        <figcaption>
          Figura 95 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/103.png" alt="Imagem de Neurofibroma">
        <figcaption>
          Figura 96 Abdellatif E, Kamel D. Neurofibroma-general. PathologyOutlines.com website.
          https://www.pathologyoutlines.com/topic/softtissueneurofibroma.html. Accessed May 3rd, 2022.
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Presença de feixes entrelaçados de células fusiformes geralmente
                exibindo núcleo ondulado.
              </li>
              <li class="background-color-indicator-grey">
                É circunscrito quando a proliferação ocorre no perineuro do nervo
                envolvido. Os que proliferam fora do perineuro tendem a não aparecer
                bem delimitados e a se misturar ao tecido conjuntivo adjacente.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 9.6 -->

    <!-- INICIO 9.7 -->

    <ion-row>
      <ion-col>
        <h3>9.7 Neurilemoma</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/104.png" alt="Imagem de Neurilemoma">
        <img src="assets/images/105.png" alt="Imagem de Neurilemoma">
        <figcaption>
          Figura 97 (A e B) NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                Neoplasia encapsulada que demonstra dois padrões microscópicos
                em quantidades variáveis: Antoni A e Antoni B.

              </li>
              <li class="background-color-indicator-blue">
                O padrão Antoni A é caracterizado por grupamentos paralelos
                de células de Schwann fusiformes formando um arranjo em
                paliçada ao redor de uma área acelular eosinofílica central
                (corpo de Verocay)
              </li>
              <li class="background-color-indicator-green">
                O padrão Antoni B é menos celular e organizado. As células
                fusiformes são arranjadas aleatoriamente dentro de um tecido
                mixoide. </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>