<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Neoplasias benignas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">

    <ion-row>
      <ion-col>
        <h3>9.1 Lipoma</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                É composta por adipócitos maduros que pouco se diferenciam microscopicamente do tecido adiposo normal
                circunjacente.
              </li>
              <li class="background-color-indicator-grey">
                É bem circunscrita e pode apresentar uma fina cápsula fibrosa.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <!-- FIM 9.1 -->

    <!-- INICIO 9.2 -->

    <ion-row>
      <ion-col>
        <h3>9.2 Hemangioma</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                Hemangiomas da infância são caracterizados por numerosas células endoteliais volumosas e lúmens
                vasculares geralmente indistintos. Neste estágio, tais lesões geralmente são microscopicamente
                conhecidas como hemangiomas juvenis ou celulares.
              </li>
              <li class="background-color-indicator-grey">
                Com a maturação da lesão, as células endoteliais se tornam achatadas, e os pequenos espaços vasculares
                capilares são mais evidentes. Com a involução do hemangioma, os espaços vasculares se tornam
                proeminentes e são substituídos por tecido conjuntivo fibroso e gorduroso.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <!-- FIM 9.2 -->

    <!-- INICIO 9.3 -->

    <ion-row>
      <ion-col>
        <h3>9.3 Linfangioma</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                São compostos de vasos linfáticos que podem mostrar dilatação discreta (microcística) ou estruturas
                macroscópicas semelhantes a cistos (macrocística).
              </li>
              <li class="background-color-indicator-grey">
                Geralmente, os vasos infiltram-se difusamente nos tecidos moles vizinhos e podem demonstrar agregados
                linfoides em suas paredes.
              </li>
              <li class="background-color-indicator-grey">
                O endotélio delimitante é fino, e os espaços contêm fluido proteináceo e ocasionais linfócitos. Alguns
                canais também podem conter hemácias, o que gera incerteza se eles representam vasos linfáticos ou
                sanguíneos.
              </li>
              <li class="background-color-indicator-grey">
                Nos linfangiomas intraorais, os vasos linfáticos são localizados logo abaixo do epitélio de superfície
                e, geralmente, substituem as papilas conjuntivas. Esta localização superficial resulta em aparência
                clínica semelhante a vesículas translucentes. Entretanto, observa-se a extensão desses vasos para dentro
                do tecido conjuntivo profundo e para a musculatura esquelética.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 9.3 -->

    <!-- INICIO 9.4 -->

    <ion-row>
      <ion-col>
        <h3>9.4 Leiomioma</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                Consistem em feixes entrelaçados de células musculares fusiformes. Os núcleos são alongados, palidamente
                corados e com terminação romba.
              </li>
              <li class="background-color-indicator-grey">
                É composto primariamente mais por células epitelioides do que por células fusiformes.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 9.4 -->

    <!-- INICIO 9.5 -->

    <ion-row>
      <ion-col>
        <h3>9.5 Rabdomioma</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>9.5.1 Rabdomioma do Adulto</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                É composto de lóbulos bem circunscritos de grandes células poligonais, que exibem um abundante
                citoplasma eosinofílico granular.
              </li>
              <li class="background-color-indicator-grey">
                Essas células geralmente mostram uma vacuolização periférica que resulta em aparência de “teia de
                aranha” do citoplasma.
              </li>
              <li class="background-color-indicator-grey">
                Células focais com estriações transversas podem ser identificadas na maioria dos casos.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>9.5.2 Raddomioma Fetal</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                Apresenta uma aparência menos madura e consiste em células musculares fusiformes, arranjadas de maneira
                desorganizada, que, algumas vezes, são encontradas dentro de um estroma mixoide.
              </li>
              <li class="background-color-indicator-grey">
                Algumas lesões podem exibir uma considerável celularidade e um moderado pleomorfismo, que as torna
                facilmente confundidas com os rabdomiossarcomas.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 9.5 -->

    <!-- INICIO 9.6 -->

    <ion-row>
      <ion-col>
        <h3>9.6 Neurofibroma</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                É bem circunscrito, especialmente quando a proliferação ocorre no perineuro do nervo envolvido. Os
                neurofibromas que proliferam fora do perineuro podem não aparecer bem delimitados e tendem a se misturar
                ao tecido conjuntivo adjacente.
              </li>
              <li class="background-color-indicator-grey">
                O neurofibroma é composto de feixes entrelaçados de células fusiformes que, geralmente, exibem núcleo
                ondulado. Essas células se encontram associadas a delicados feixes colágenos e a quantidades variadas de
                matriz mixoide. Os mastócitos tendem a ser numerosos e podem ser uma característica auxiliar no
                diagnóstico.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>9.6 Neurilemoma</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                É uma neoplasia encapsulada que demonstra dois padrões microscópicos em quantidades variáveis: (1)
                Antoni A e (2) Antoni B. O padrão Antoni A é caracterizado por fascículos paralelos de células de
                Schwann fusiformes. Estas células geralmente formam um arranjo em paliçada ao redor de uma área acelular
                eosinofílica central, conhecida como corpo de Verocay (os corpos de Verocay consistem em membrana basal
                reduplicada e processos citoplasmáticos).
              </li>
              <li class="background-color-indicator-grey">
                O padrão Antoni B é menos celular e menos organizado, e as células fusiformes são arranjadas
                aleatoriamente dentro de um estroma frouxo e mixomatoso. Os neuritos não podem ser demonstrados dentro
                do parênquima neoplásico.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>