<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alterações do Desenvolvimento das Estruturas Orais e Maxilofaciais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <h3>1.1 Grânulos de Fordyce</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/01.png" alt="Imagem de Grânulos de Fordyce">
        <figcaption>Figura 1 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/02.png" alt="Imagem de Grânulos de Fordyce">
        <figcaption>Figura 2 Regezi JA, Sciubba JJ, Jordan RCK. Patologia Oral: Correlações Clinicopatológicas. 6 ed.
          Rio de Janeiro, RJ: Elsevier, 2012</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/03_A.png" alt="Imagem de Grânulos de Fordyce">
        <img src="assets/images/03_B.png" alt="Imagem de Grânulos de Fordyce">
        <figcaption>
          Figura 3 (A e B) Lee JH, Kwon NH, et al. Clinicopathologic Manifestations of Patients with Fordyce's Spots.
          Ann Dermatol. 2012;24(1):103-106. doi:10.5021/ad.2012.24.1.103
        </figcaption>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Características</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ul>
              <li>
                Semelhantes às glândulas sebáceas normais encontradas na pele exceto pela ausência de folículos pilosos.
              </li>
              <li>
                Encontram-se abaixo da superfície epitelial
              </li>
              <li>
                Células com núcleo centralizado e abundante citoplasma espumoso
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- FIM 1.1 -->

    <!-- INICIO 1.2 -->
    <ion-row>
      <ion-col>
        <h3>1.2 Leucoedema</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/04.png" alt="Imagem de Leucoedema">
        <figcaption>Figura 4 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/05.png" alt="Imagem de Leucoedema">

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/06.png" alt="Imagem de Leucoedema">
        <figcaption>
          Figura 5 (1,2,3 e 4) Hammer, James E et al. An epidemiologic and histopathologic study of leukoedema among
          50,915 rural Indian villagers. Oral Surgery, Oral Medicine and Oral Pathology. 1970; 32(1):58-55.
        </figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Indicações</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Aumento da espessura epitelial
              </li>
              <li class="background-color-indicator-green">
                Edema intracelular proeminente na camada espinhosa
              </li>
              <li class="background-color-indicator-yellow">
                Células vacuoladas aparecem aumentadas e com núcleo picnótico
              </li>
              <li class="background-color-indicator-violet">
                Superfície epitelial paraqueratinizada
              </li>
              <li class="background-color-indicator-magent">
                Cristas epiteliais amplas e alongadas
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>1.3 Língua pilosa</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/07.png" alt="Imagem de Lingua Pilosa">
        <figcaption>Figura 6 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016</figcaption>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/08.png" alt="Imagem de Lingua Pilosa">
        <figcaption>Figura 7 Smith MH. Hairy tongue. PathologyOutlines.com website. https://www.pathologyoutlines.com/topic/oralcavityhairytongue.html. Accessed February 16th, 2022.</figcaption>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Papilas filiformes alongadas e hiperqueratinizadas
              </li>
              <li class="background-color-indicator-green">
                Em geral observa-se crescimento bacteriano a superfície epitelial
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>