<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cistos Odontogênicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">

    <ion-row>
      <ion-col>
        <h3>13.1 Origem do desenvolvimento</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>13.1.1 Cisto dentígero</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                No cisto dentígero não inflamado, o tecido conjuntivo fibroso da parede cística é organizado frouxamente e contém substâncias compostas de glicosaminoglicanos. Pequenas ilhas ou cordões de restos epiteliais odontogênicos de aspecto inativo podem estar presentes na cápsula fibrosa.
              </li>
              <li class="background-color-indicator-grey">
                No cisto dentígero inflamado, que é bastante comum, a parede fibrosa da cavidade cística possui mais colágeno, apresentando uma variação de infiltrado de inflamatório crônico. A camada epitelial pode demonstrar quantidade variável de hiperplasia com o desenvolvimento de cristas epiteliais e características escamosas mais definidas.
              </li>
              <li class="background-color-indicator-grey">
                É raro haver células colunares ciliadas. Pequenos ninhos de células sebáceas podem ser notados raramente dentro da parede cística. Acredita-se que essas células mucosas, ciliadas e sebáceas representem a multipotencialidade do revestimento epitelial odontogênico em um cisto dentígero.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>13.1.2 Cisto de erupção</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                Exibem o epitélio oral de superfície na porção superior. 
              </li>
              <li class="background-color-indicator-grey">
                A lâmina própria mostra infiltrado inflamatório variável. 
              </li>
              <li class="background-color-indicator-grey">
                Pode apresentar uma fina camada de epitélio pavimentoso não queratinizado. 
              </li>
            </ul>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>13.1.3 Queratocisto odontogênico</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                O revestimento epitelial é composto por uma camada uniforme de epitélio pavimentoso estratificado, em geral com seis a oito células de espessura.
              </li>
              <li class="background-color-indicator-grey">
                O epitélio e a interface com o tecido conjuntivo costumam ser planos, e a formação de cristas epiteliais é imperceptível. 
              </li>
              <li class="background-color-indicator-grey">
                A superfície luminal exibe células epiteliais paraqueratóticas achatadas, que exibem um aspecto ondulado ou corrugado. 
              </li>
              <li class="background-color-indicator-grey">
                A camada basal epitelial é composta por uma camada em paliçada de células epiteliais cuboidais ou colunares, que frequentemente são hipercromáticas.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>13.1.4 Cisto periodontal lateral</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                Apresenta uma cápsula fibrosa delgada, geralmente sem inflamação, com um revestimento epitelial que possui, em sua maior parte, apenas uma a três camadas de espessura.
              </li>
              <li class="background-color-indicator-grey">
                Esse epitélio geralmente consiste em células pavimentosas achatadas, mas algumas vezes as células apresentam formato cuboidal.
              </li>
              <li class="background-color-indicator-grey">
                A superfície luminal exibe células epiteliais paraqueratóticas achatadas, que exibem um aspecto ondulado ou corrugado. 
              </li>
              <li class="background-color-indicator-grey">
                A camada basal epitelial é composta por uma camada em paliçada de células epiteliais cuboidais ou colunares, que frequentemente são hipercromáticas.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>13.1.5 Cisto periodontal lateral</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                São similares àquelas do cisto periodontal lateral, consistindo em um revestimento epitelial delgado e achatado, com ou sem placas focais que contem células claras.
              </li>
              <li class="background-color-indicator-grey">
                Pode apresentar paredes delgadas nos tecidos moles e acantose do revestimento epitelial.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>13.1.6 Cisto periodontal lateral</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                Exibe um revestimento epitelial delgado e achatado, com uma superfície luminal de paraqueratina. O lúmen contém restos de queratina.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <!-- FIM 13.1 -->

    <!-- INICIO 13.2 -->

    <ion-row>
      <ion-col>
        <h3>13.2 Origem Inflamatória</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>13.2.1 Cisto periapical / radicular</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                O cisto é revestido por epitélio escamoso estratificado, que pode demonstrar exocitose, espongiose ou hiperplasia.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>