<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Infecções virais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="ion-margin-end" (click)="sobeParaInicioDaPagina()">
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-grid class="ion-text-center">

    <ion-row>
      <ion-col>
        <h3>6.1 Herpes simples</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/57.png" alt="Imagem de Herpes simples">
        <figcaption>Figura 52 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/58.png" alt="Imagem de Herpes simples">
        <figcaption>Figura 53 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/59.png" alt="Imagem de Herpes simples">
        <figcaption>
          Figura 54 Regezi JA, Sciubba JJ, Jordan RCK. Patologia Oral: Correlações Clinicopatológicas. 6 ed. Rio de
          Janeiro, RJ: Elsevier, 2012
        </figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Células epiteliais acantolíticas, com núcleo claro e aumentado, alterações denominadas degeneração
                balonizante.
              </li>
              <li class="background-color-indicator-green">
                Edema intracelular leva a formação de uma vesícula intraepitelial.
              </li>
              <li class="background-color-indicator-yellow">
                Pode apresentar células epiteliais multinucleadas.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 6.1 -->

    <!-- INICIO 6.2 -->

    <ion-row>
      <ion-col>
        <h3>6.2 HPV</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>6.2.1 Papiloma escamoso oral</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/60.png" alt="Imagem de Papiloma escamoso oral">
        <figcaption>Figura 55 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/61.png" alt="Imagem de Papiloma escamoso oral">
        <figcaption>Figura 56 Andrade SA, et al. Papiloma escamoso oral: uma visão sob aspectos clínicos, de
          fluorescência e histopatológicos. einstein (São Paulo). 2019;17(2):eRC4624. http://dx.doi.org/
          10.31744/einstein_journal/2019RC4624</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/62.png" alt="Imagem de Papiloma escamoso oral">
        <figcaption>Figura 57 (3 e 4) Martins Filho P R S, et al. Papiloma de células escamosas da cavidade oral. Rev.
          Cir. Traumatol. Buco-Maxilo-fac., Camaragibe v.9, n.3, p. 69 - 78, jul./set. 2009</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Proliferação do epitélio pavimentoso estratificado queratinizado, arranjado em projeções digitiformes
                com tecido conjuntivo fibrovascular entremeado. O tecido conjuntivo pode apresentar inflamação.
              </li>
              <li class="background-color-indicator-green">
                Pode apresentar espessamento da camada de queratina.
              </li>
              <li class="background-color-indicator-yellow">
                Coilócitos (células claras alteradas pelo vírus com núcleo picnótico [pequeno e escuro] circundado por
                halo claro) às vezes são evidenciados na camada espinhosa alta.
              </li>
              <li class="background-color-indicator-grey">
                Pode demonstrar hiperplasia da camada basal e atividade mitótica, os quais podem ser confundidos com uma
                displasia epitelial leve.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>6.2.2 Verruga Vulgar</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/63.png" alt="Imagem de Verruga Vulgar">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/64.png" alt="Imagem de Verruga Vulgar">
        <figcaption>Figura 58 (A e B) NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro:
          Elsevier, 2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Proliferação de epitélio pavimentoso estratificado queratinizado hiperplásico, com projeções pontiagudas
                com tecido conjuntivo entremeado.
              </li>
              <li class="background-color-indicator-green">
                Infiltrado inflamatório crônico é observado no tecido conjuntivo de suporte.
              </li>
              <li class="background-color-indicator-yellow">
                Cristas retas e alongadas tendem a convergir para o centro da lesão produzindo um efeito de “taça”.
              </li>
              <li class="background-color-indicator-violet">
                Abundantes coilócitos são vistos na camada espinhosa superficial.
              </li>
              <li class="background-color-indicator-magent">
                Presença de hipergranulose exibindo grânulos de querato-hialina enrugados e intensamente corados.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>6.2.3 Condiloma Acuminado</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/65.png" alt="Imagem de Condiloma Acuminado">
        <figcaption>Figura 59 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="assets/images/66.png" alt="Imagem de Condiloma Acuminado">
        <figcaption>Figura 60 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier,
          2016</figcaption>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Proliferação benigna de epitélio pavimentoso estratificado acantótico com discreta queratose e projeções
                superficiais papilares embotadas.
              </li>
              <li class="background-color-indicator-green">
                Ilhas de tecido conjuntivo suportam as projeções papilares epiteliais.
              </li>
              <li class="background-color-indicator-yellow">
                Presença de coilócitos na camada espinhosa.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>