<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Patologia das glândulas salivares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="ion-margin-end" (click)="sobeParaInicioDaPagina()">
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid class="ion-text-center">

    <ion-row>
      <ion-col>
        <h3>12.1 Mucocele</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                No exame microscópico, a mucocele exibe uma área de mucina extravasada, circundada por tecido de
                granulação reacional.
              </li>
              <li class="background-color-indicator-grey">
                A inflamação usualmente inclui numerosos histiócitos espumosos (macrófagos). Em alguns casos, um ducto
                salivar rompido pode ser identificado desembocando dentro da área. As glândulas salivares menores
                adjacentes geralmente contêm um infiltrado inflamatório crônico e ductos dilatados.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 12.1 -->

    <!-- INICIO 12.2 -->

    <ion-row>
      <ion-col>
        <h3>12.2 Penfigoide das membranas mucosas</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                É variável, podendo ser representado por epitélio cuboidal, colunar ou pavimentoso atrófico, circundando
                uma secreção fluida ou mucoide na luz.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 12.2 -->

    <!-- INICIO 12.3 -->

    <ion-row>
      <ion-col>
        <h3>12.3 Sialolitíase</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                Se apresenta como uma massa dura, de formato arredondado, oval ou cilíndrico. Normalmente, apresenta
                coloração amarela, embora possa apresentar coloração branca ou castanho-clara.
              </li>
              <li class="background-color-indicator-grey">
                Geralmente ele irá exibir metaplasia escamosa, oncocítica ou mucosa. Também é evidente a inflamação
                periductal.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 12.3 -->

    <!-- INICIO 12.4 -->

    <ion-row>
      <ion-col>
        <h3>12.4 Síndrome de Sjögren</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                O principal achado microscópico da síndrome de Sjögren é uma infiltração linfocítica nas glândulas
                salivares, que leva à destruição das unidades acinares.
              </li>
              <li class="background-color-indicator-grey">
                As células ductais e as células mioepiteliais circundantes se tornam hiperplásicas, formando grupos
                característicos de células, conhecidos como ilhas epimioepiteliais, ao longo de toda a proliferação
                linfoide.
              </li>
              <li class="background-color-indicator-grey">
                Agregados inflamatórios crônicos focais, compostos por 50 ou mais linfócitos e plasmócitos.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 12.4 -->

    <!-- INICIO 12.5 -->

    <ion-row>
      <ion-col>
        <h3>12.5 Adenoma pleomórfico</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                O parênquima da lesão é composto de uma mistura de epitélio glandular e células mioepiteliais dentro de
                um fundo semelhante ao mesênquima. A proporção dos elementos epiteliais e do componente semelhante ao
                mesênquima é altamente variável dentre as diferentes neoplasias.
              </li>
              <li class="background-color-indicator-grey">
                Geralmente, o epitélio forma ductos e estruturas císticas, ou pode ocorrer na forma de ilhas ou cordões
                de células. Células escamosas produtoras de queratina ou células produtoras de muco também podem ser
                vistas. As células mioepiteliais geralmente perfazem uma grande porcentagem das células neoplásicas e
                exibem morfologia variável, por vezes podendo se apresentar como células anguladas ou fusiformes.
              </li>
              <li class="background-color-indicator-grey">
                Células mioepiteliais plasmocitoides características são mais proeminentes nas neoplasias oriundas de
                glândulas salivares menores.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 12.5 -->

    <!-- INICIO 12.6 -->

    <ion-row>
      <ion-col>
        <h3>12.6 Carcinoma mucoepidermoide</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                É composto de uma mistura de células produtoras de muco e células epidermoides.
              </li>
              <li class="background-color-indicator-grey">
                As células epidermoides são distinguidas por apresentar características de células epiteliais,
                geralmente demonstrando formato poligonal, pontes intercelulares e, raramente, ceratinização.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 12.6 -->

    <!-- INICIO 12.7 -->

    <ion-row>
      <ion-col>
        <h3>12.7 Carcinoma mucoepidermoide</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                É composto por uma mistura de células mioepiteliais e células ductais que pode apresentar um arranjo
                variado.
              </li>
              <li class="background-color-indicator-grey">
                São reconhecidos três principais padrões histopatológicos: cribriforme ( caracterizado pela presença de
                ilhas de células epiteliais basaloides que contêm múltiplos espaços cilíndricos, semelhantes a espaços
                císticos, lembrando um queijo suíço), tubular (as células neoplásicas são semelhantes, mas podem se
                arranjar como múltiplos pequenos ductos ou túbulos dentro de um estroma hialinizado) e sólido (grandes
                ilhas ou lençóis celulares que demonstram pouca tendência para a formação de ductos ou cistos).
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>