<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Doenças dermatológicas e imunoimediatas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">

    <ion-row>
      <ion-col>
        <h3>11.1 Pênfigo vulgar</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                Apresentam células epiteliais acantolíticas e redondas localizadas no interior da fenda intraepitelial.
              </li>
              <li class="background-color-indicator-grey">
                Algumas vezes, todas as camadas superficiais do epitélio estão descamadas, deixando somente as células
                basais, que são descritas sendo semelhantes à “fileira de pedras de sepulturas”.
              </li>
              <li class="background-color-indicator-grey">
                Um infiltrado leve a moderado de células inflamatórias crônicas normalmente é observado no tecido
                conjuntivo subjacente.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <!-- FIM 11.1 -->

    <!-- INICIO 11.2 -->

    <ion-row>
      <ion-col>
        <h3>11.2 Penfigoide das membranas mucosas</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                Um leve infiltrado inflamatório crônico está presente na submucosa superficial.
              </li>
              <li class="background-color-indicator-yellow">
                Acrescentar
              </li>
            </ul>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <!-- FIM 11.2 -->

    <!-- INICIO 11.3 -->

    <ion-row>
      <ion-col>
        <h3>11.3 Líquen plano</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                Graus variáveis de ortoqueratose e de paraqueratose podem estar presentes na superfície do epitélio,
                dependendo de o espécime da biopsia ser obtido de uma lesão erosiva ou reticular.
              </li>
              <li class="background-color-indicator-grey">
                A espessura da camada espinhosa também pode variar. As cristas epiteliais podem estar ausentes ou
                hiperplásicas, mas classicamente são pontiagudas ou têm forma de “dentes de serra”.
              </li>
              <li class="background-color-indicator-grey">
                A destruição da camada de células basais do epitélio (degeneração hidrópica) também é evidente, sendo
                acompanhada por um intenso infiltrado inflamatório semelhante a uma faixa, com o predomínio de
                linfócitos T logo abaixo do epitélio subjacente.
              </li>
              <li class="background-color-indicator-grey">
                Queratinócitos em degeneração podem ser observados em áreas do epitélio e na interface do tecido
                conjuntivo e têm sido denominados de corpos coloides, citoides, hialinos ou de Civatte.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 11.3 -->

    <!-- INICIO 11.4 -->

    <ion-row>
      <ion-col>
        <h3>11.4 Granulomatose orofacial</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                Está presente o edema na lâmina própria com dilatação dos vasos linfáticos e podem ser observados
                linfócitos dispersos de forma difusa e em agregados.
              </li>
              <li class="background-color-indicator-grey">
                A fibrose pode estar presente em lesões de longa duração. Agregados dispersos de inflamação
                granulomatosa não caseosa, que consistem em linfócitos e histiócitos epitelioides, estão presentes com
                ou sem células gigantes multinucleadas.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>