<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Desordens orais potencialmente malignas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">

    <ion-row>
      <ion-col>
        <h3>10.1 Leucoplasia</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>10.1.1 Leucoplasia verrucosa proliferativa</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                Exibe projeções papilares, pontiagudas e cristas epiteliais rombas, largas na superfície e espessura variável de queratina.
              </li>
              <li class="background-color-indicator-grey">
                Fases iniciais aparecem como uma hiperqueratose indistinguível de uma leucoplasia convencional. Com o tempo, a doença progride para uma proliferação exofítica, papilar, semelhante às lesões localizadas da leucoplasia verrucosa (ou hiperplasia verrucosa).
              </li>
              <li class="background-color-indicator-grey">
                Em estágios mais avançados, esta proliferação papilar exibe invaginação do epitélio pavimentoso bem diferenciado, com amplas cristas epiteliais sendo o quadro indistinguível do carcinoma verrucoso.
              </li>
              <li class="background-color-indicator-grey">
                Nos estágios finais, o epitélio se torna francamente invasivo e menos diferenciado, transformando-se em carcinoma epidermoide. O diagnóstico de LVP requer cuidadosa correlação clínica e dos achados microscópicos. 
              </li>
            </ul>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <!-- FIM 10.1 -->

    <!-- INICIO 10.2 -->

    <ion-row>
      <ion-col>
        <h3>10.2 Eritroplasia</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                90% das lesões eritroplásicas apresentam ao exame histopatológico displasia epitelial intensa, carcinoma in situ, ou carcinoma epidermoide superficialmente invasivo.
              </li>
              <li class="background-color-indicator-grey">
                O epitélio deixa de produzir queratina e muitas vezes é atrófico, permitindo assim que a microcirculação subjacente apareça, produzindo uma aparência vermelha. O tecido conjuntivo subjacente demonstra com frequência inflamação crônica.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <!-- FIM 10.2 -->

    <!-- INICIO 10.3 -->

    <ion-row>
      <ion-col>
        <h3>10.3 Leucoeritroplasia</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                Pode ou não existir uma fina camada de queratina na superfície.
              </li>
              <li class="background-color-indicator-grey">
                O epitélio pode ser hiperplásico ou atrófico.
              </li>
              <li class="background-color-indicator-grey">
                Pode ser considerada potencialmente maligna. 
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- FIM 10.3 -->

    <!-- INICIO 10.4 -->

    <ion-row>
      <ion-col>
        <h3>10.4 Queilite actínica</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-grey">
                O epitélio pode exibir diferentes graus de displasia.
              </li>
              <li class="background-color-indicator-grey">
                Geralmente há hiperqueratose e o epitélio pode ser atrófico ou acantótico.
              </li>
              <li class="background-color-indicator-grey">
                O tecido conjuntivo invariavelmente demonstra uma faixa acelular amorfa, basofílica, conhecida como elastose solar, uma alteração do colágeno e fibras elásticas induzida pela luz UV.
              </li>
              <li class="background-color-indicator-grey">
                Infiltrado inflamatório crônico e vasos sanguíneos dilatados podem também estar presentes.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>