<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Doenças do periodonto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <h3>3.1 Fibromatose gengival </h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/28.png" alt="Imagem de Fibromatose gengival">
        <figcaption>Figura 25 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016</figcaption>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/29.png" alt="Imagem de Fibromatose gengival">
        <figcaption>Figura 26 MARTELLI-JUNIOR, H., et al. Comparação microscópica e proliferativa de fibroblastos gengivais de pacientes com gengiva normal e com fibromatose gengival hereditária. Pesq Odont Bras, v. 14, n. 2, p. 123-129, abr./jun. 2000.</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <img src="assets/images/30.png" alt="Imagem de Fibromatose gengival">
        <figcaption>Figura 27 Cunha JLS, Ramos MACC, Regis DM, et al. Generalized hereditary gingival fibromatosis in a child: clinical, histopathological and therapeutic aspects. Autops Case Rep [Internet]. 2020;10(1): e2020140.</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Características</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ul>
              <li class="background-color-indicator-blue">
                Tecido conjuntivo denso hipocelular, hipovascular e rico em fibras colágenas entrelaçadas. 
              </li>
              <li class="background-color-indicator-green">
                Pode apresentar epitélio acantótico.
              </li>
              <li class="background-color-indicator-yellow">
                Presença de cristas epiteliais longas e finas que se estendem- se profundamente no tecido conjuntivo fibroso.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- FIM 3.1 -->

    <!-- INICIO 3.2 -->
    <ion-row>
      <ion-col>
        <h3>3.2	Granulomatose de wegener</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/31.png" alt="Imagem de Granulomatose de wegener">
        <figcaption>Figura 28 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016</figcaption>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <img src="assets/images/32.png" alt="Imagem de Granulomatose de wegener">
        <figcaption>Figura 29 NEVILLE, Brad W. et al. Patologia oral e maxilofacial. 4. ed. Rio de Janeiro: Elsevier, 2016</figcaption>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Características</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ul>
              <li>
                Tecido conjuntivo apresentando proliferação vascular e infiltrado eosinófilos e células gigantes multinucleadas e centralizado ao redor dos vasos.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    
  </ion-grid>


</ion-content>