/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$color-indicator-1: blue;
$color-indicator-2: green;
$color-indicator-3: yellow;
$color-indicator-4: rgb(189, 63, 189);
$color-indicator-5: rgb(235, 0, 109);
$color-indicator-6: rgb(201, 201, 201);


p {
    @media screen and (max-width: 767px){
        font-size: 18px;
    }
    
    font-size: 14px;
}

ul {
    list-style: none;
    padding-left: 0px;

    li {
        border: 1px solid rgb(158, 158, 158);
        border-radius: 2px;
        padding: 5px 5px;
    }
}

.background-color-indicator-blue {
    background-color: $color-indicator-1;
    color: white;
}

.background-color-indicator-green {
    background-color: $color-indicator-2;
    color: white;
}

.background-color-indicator-yellow {
    background-color: $color-indicator-3;
    color: black;
}

.background-color-indicator-violet {
    background-color: $color-indicator-4;
    color: white;
}

.background-color-indicator-magent {
    background-color: $color-indicator-5;
    color: white;
}

.background-color-indicator-grey {
    background-color: $color-indicator-6;
    color: black;
}

ion-col {
    img {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    figcaption {
        margin-bottom: 5px;
    }
}