<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <h1>Seja bem-vindo</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <img src="assets/images/logo.jpg" alt="Logo faculdade Unilagos" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <p>Seja bem-vindo(a) ao Atlas que visa proporcionar conforto nos seus estudos com qualidade de conteúdo e
          facilidade
          de uso. Para utilizar, basta navegar pelo menu ao lado (se for celular, acima) e obter as informações que
          deseja.
        </p>
        <p>O conteúdo foi desenvolvido por orientação do prof. Dr. Eugênio Rodrigues e prof. Dr. Bruno Travassos,
          elaborado pela
          Lais dos Santos Castilho e Débora Cruz. A página foi desenvolvida por Gustavo Kreischer de Almeida
        </p>
        <h3>Emails:</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Emails</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <h2>Orientadores</h2>
            <a href="prof1@email.com">Prof 1</a>
            <br>
            <a href="prof2@email.com">Prof 2</a>
            
            <h2>Orientados</h2>
            <a href="mailto:lais.scastilho@gmail.com">lais.scastilho@gmail.com</a>
            <br>
            <a href="mailto:deboracruz@email.com">Débora Cruz</a>
            
            <h2>Desenvolvimento</h2>
            <a href="mailto:gustavokreischer@gmail.com">Gustavo Kreischer de Almeida</a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>